/* Importar fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Lora:wght@400;500;600&display=swap');

html {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 100px;
  margin: 10px 0;
  text-align: center;
  color: #2C3E50; /* Azul oscuro más sofisticado */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  
}

/*BARRA DE NAVEGACION MENU*/
.text-content {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-content p {
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Lora', serif;
}

/* Estilo para los enlaces dentro de las columnas */
.row:hover .text-content {
    background-color: rgba(44, 62, 80, 0.1); /* Color más sutil al hover */
    padding: 5px 5px 8px;
}

.text-content a {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
    text-decoration: none;
    color: #34495E; /* Azul grisáceo para el texto */
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.text-content a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #3498DB; /* Azul más vibrante para el subrayado */
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
}

.text-content a:hover::after {
    transform: scaleX(1);
}

.text-content a:hover {
    color: #3498DB;
}

/* Media queries existentes */
@media (max-width: 500px) {
  h1 {
      font-size: 1.5rem;
  }
  .text-content p{
    font-size: 0.9rem;
  }
  .text-content {
    height: 70px;
  }
  .titulo{
    font-size: 0.85rem;
  }
  .parrafo{
    font-size: 0.65rem;
  }
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 20px 0;
  height: 110vh;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Estilos para los botones */
button {
  display: inline-block;
  border: none;
  height: 50px;
  border-radius: 30px;
  padding: 10px 0;
  width: 200px;
  background-color: #3498DB; /* Azul que combina con el esquema */
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: 150ms;
  margin-top: 40px;
  font-size: 16px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  transform: translate(0, -5px);
  background-color: #2980B9; /* Un tono más oscuro al hover */
}

/*CARRUCEL DE FOTOS*/
.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media (max-width: 768px) {
  .contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
}

.carousel {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.carousel .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(44, 62, 80, 0.7); /* Fondo más oscuro y elegante */
  color: #ECF0F1; /* Texto más claro para mejor contraste */
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.5s;
  font-family: 'Lora', serif;
}

.carousel:hover .caption {
  transform: translateY(0);
}

.carousel-caption {
  display: none;
}

/* FOOTER */
.custom-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section.container {
  flex: 1;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(44, 62, 80, 0.9); /* Azul oscuro más elegante */
  color: #ECF0F1; /* Texto claro para mejor contraste */
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.left-section {
  flex-grow: 1;
  margin-right: 10px;
}

.middle-section {
  text-align: center;
  flex-grow: 0;
  margin: 0 10px;
}

.right-section {
  text-align: right;
  flex-grow: 2;
}

.right-section img {
  margin-right: 15px;
}

footer img {
  width: 35px;
  height: 35px;
}